body {
    background-color: darkgray;
    background-image: url(bookshelf.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}

h1 {
    
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 200px;
    font-size: 80px;
    color: white;
}

ul {
    padding-left: 650px;
    font-size: 30px;
    color: white;
}

.pages {
    text-decoration-line: none;
    color: white;
}

.pages:hover {
    color: rgb(15, 74, 15);
}